@import '../variables';
@import '../mixins';

// Button component styles
// Usage: <button class="btn btn-primary">Click me</button>

.btn {
  @include button-base;

  &-primary {
    @include button-primary;
  }

  &-secondary {
    @include button-secondary;
  }

  &-danger {
    background-color: $error-color;
    color: $text-inverse;

    &:hover:not(:disabled) {
      background-color: darken($error-color, 10%);
    }
  }

  &-success {
    background-color: $success-color;
    color: $text-inverse;

    &:hover:not(:disabled) {
      background-color: darken($success-color, 10%);
    }
  }

  &-sm {
    padding: $spacing-xs $spacing-sm;
    font-size: $font-size-sm;
  }

  &-lg {
    padding: $spacing-md $spacing-xl;
    font-size: $font-size-lg;
  }

  &-full {
    width: 100%;
  }

  &-icon {
    display: inline-flex;
    align-items: center;
    gap: $spacing-sm;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
